In [1]:
import pandas as pd

# FULL ALTPROV DATA

In [2]:
altprov_data = pd.read_csv('spc_alternative_provision_2021.csv')

In [3]:
# with 77722 rows Ã— 15 columns
altprov_data

,time_period,time_identifier,geographic_level,country_code,country_name,region_name,region_code,old_la_code,la_name,new_la_code,gender,age,ethnicity,FSM,number_of_pupils
0,202021,Academic year,Local authority,E92000001,England,East of England,E12000006,881.0,Essex,E10000012,Total,Age 3 (middle - born January to March),Total,Total,0
1,202021,Academic year,Local authority,E92000001,England,East of England,E12000006,881.0,Essex,E10000012,Total,Age 3 (upper - born September to December),Total,Total,0
2,202021,Academic year,Local authority,E92000001,England,East of England,E12000006,881.0,Essex,E10000012,Total,Age 4 (lower - born April to August),Total,Total,1
3,202021,Academic year,Local authority,E92000001,England,East of England,E12000006,881.0,Essex,E10000012,Total,Age 4 (middle - born January to March),Total,Total,0
4,202021,Academic year,Local authority,E92000001,England,East of England,E12000006,881.0,Essex,E10000012,Total,Age 4 (upper - born September to December),Total,Total,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77717,201718,Academic year,Local authority,E92000001,England,South West,E12000009,916.0,Gloucestershire,E10000013,Boys,Age 1,Total,Total,0
77718,201718,Academic year,Local authority,E92000001,England,South West,E12000009,916.0,Gloucestershire,E10000013,Boys,Age 2,Total,Total,0
77719,201718,Academic year,Local authority,E92000001,England,South West,E12000009,916.0,Gloucestershire,E10000013,Boys,Age 3 (lower - born April to August),Total,Total,0
77720,201718,Academic year,Local authority,E92000001,England,South West,E12000009,916.0,Gloucestershire,E10000013,Boys,Age 3 (middle - born January to March),Total,Total,0
77721,201718,Academic year,Local authority,E92000001,England,South West,E12000009,916.0,Gloucestershire,E10000013,Boys,Age 3 (upper - born September to December),Total,Total,0

## DELETE Unecessary Columns...

In [4]:
altprov_data = altprov_data.drop(labels=['time_identifier','country_name','country_code','region_code','old_la_code','new_la_code'], axis=1)
print(altprov_data)

       time_period geographic_level      region_name          la_name gender  \
0           202021  Local authority  East of England            Essex  Total
1           202021  Local authority  East of England            Essex  Total
2           202021  Local authority  East of England            Essex  Total
3           202021  Local authority  East of England            Essex  Total
4           202021  Local authority  East of England            Essex  Total
...            ...              ...              ...              ...    ...
77717       201718  Local authority       South West  Gloucestershire   Boys
77718       201718  Local authority       South West  Gloucestershire   Boys
77719       201718  Local authority       South West  Gloucestershire   Boys
77720       201718  Local authority       South West  Gloucestershire   Boys
77721       201718  Local authority       South West  Gloucestershire   Boys

                                              age ethnicity    FSM  \
0          Age 3 (middle - born January to March)     Total  Total
1      Age 3 (upper - born September to December)     Total  Total
2            Age 4 (lower - born April to August)     Total  Total
3          Age 4 (middle - born January to March)     Total  Total
4      Age 4 (upper - born September to December)     Total  Total
...                                           ...       ...    ...
77717                                       Age 1     Total  Total
77718                                       Age 2     Total  Total
77719        Age 3 (lower - born April to August)     Total  Total
77720      Age 3 (middle - born January to March)     Total  Total
77721  Age 3 (upper - born September to December)     Total  Total

       number_of_pupils
0                     0
1                     0
2                     1
3                     0
4                     0
...                 ...
77717                 0
77718                 0
77719                 0
77720                 0
77721                 0

[77722 rows x 9 columns]

In [5]:
# To check for uniqueness of values in columns...
#print(altprov_data.geographic_level.unique())

## DELETE nonzero pupil number rows AND Not FSM eligible rows

In [6]:
# How to select rows with multiple conditions: df.loc[(df['col1'] == value) & (df['col2'] < value)]
nonzero_altprov_data = altprov_data.loc[(altprov_data['number_of_pupils'] != 0) & (altprov_data['FSM'] != 'Not FSM eligible')]

In [7]:
# NOW WE HAVE
# 33118 rows Ã— 9 columns of FSM Eligible and Number of Pupils being 0
print(nonzero_altprov_data)

       time_period geographic_level      region_name    la_name gender  \
2           202021  Local authority  East of England      Essex  Total
5           202021  Local authority  East of England      Essex  Total
6           202021  Local authority  East of England      Essex  Total
7           202021  Local authority  East of England      Essex  Total
8           202021  Local authority  East of England      Essex  Total
...            ...              ...              ...        ...    ...
77710       201718  Local authority       North East  Gateshead   Boys
77711       201718  Local authority       North East  Gateshead   Boys
77712       201718  Local authority       North East  Gateshead   Boys
77713       201718  Local authority       North East  Gateshead   Boys
77714       201718  Local authority       North East  Gateshead   Boys

                                        age ethnicity    FSM  number_of_pupils
2      Age 4 (lower - born April to August)     Total  Total                 1
5                                     Age 5     Total  Total                 3
6                                     Age 6     Total  Total                 3
7                                     Age 7     Total  Total                 6
8                                     Age 8     Total  Total                 8
...                                     ...       ...    ...               ...
77710                                Age 14     Total  Total                23
77711                                Age 15     Total  Total                23
77712                                Age 16     Total  Total                 9
77713                                Age 17     Total  Total                 8
77714                                Age 18     Total  Total                 7

[33118 rows x 9 columns]

## SPLIT DATA by Geographic Level

In [8]:
# Local Auth level with 29786 rows
la_altprov_data = nonzero_altprov_data.loc[nonzero_altprov_data['geographic_level'] == 'Local authority']
la_altprov_data = la_altprov_data.drop(labels=['geographic_level'],axis=1)
# Regional Level with 2940 rows
regional_altprov_data = nonzero_altprov_data.loc[nonzero_altprov_data['geographic_level'] == 'Regional']
regional_altprov_data = regional_altprov_data.drop(labels=['geographic_level','la_name'],axis=1)
# National Level with 392 rows
national_altprov_data = nonzero_altprov_data.loc[nonzero_altprov_data['geographic_level'] == 'National']
national_altprov_data = national_altprov_data.drop(labels=['geographic_level','region_name','la_name'],axis=1)

# Let's check out NATIONAL LEVEL DATA

In [9]:
print(national_altprov_data)

       time_period gender     age                            ethnicity    FSM  \
538         202021   Boys   Age 1                                Total  Total
539         202021   Boys  Age 10                                Total  Total
540         202021   Boys  Age 11                                Total  Total
541         202021   Boys  Age 12                                Total  Total
542         202021   Boys  Age 13                                Total  Total
...            ...    ...     ...                                  ...    ...
51731       201718  Total   Total   White - Any other white background  Total
51732       201718  Total   Total                   White - Gypsy/Roma  Total
51733       201718  Total   Total                        White - Irish  Total
51734       201718  Total   Total  White - traveller of Irish heritage  Total
51735       201718  Total   Total                White - White British  Total

       number_of_pupils
538                  19
539                1348
540                1998
541                2247
542                2705
...                 ...
51731               714
51732                88
51733                75
51734                40
51735             14066

[392 rows x 6 columns]

In [10]:
# Let's see what rows include FSM eligible rows
national_fsmONLY_data = national_altprov_data.loc[national_altprov_data['FSM'] == 'FSM eligible']
print(national_fsmONLY_data)
print(len(national_fsmONLY_data))
# I have the totals for FSM Eligible students for 4 academic years 2017-2021
# I can then figure out numbers of whom is FSM noneligible
# But it's unclear what gender these eligible students are!
# Also unclear what Total means for FSM column??

       time_period gender    age ethnicity           FSM  number_of_pupils
650         202021  Total  Total     Total  FSM eligible              6416
18444       201819  Total  Total     Total  FSM eligible              4532
23180       201920  Total  Total     Total  FSM eligible              5522
51727       201718  Total  Total     Total  FSM eligible              3632
4

# Let's check out NATIONAL LEVEL DATA

In [11]:
print(regional_altprov_data)

       time_period    region_name gender     age ethnicity    FSM  \
661         202021  East Midlands   Boys  Age 10     Total  Total
662         202021  East Midlands   Boys  Age 11     Total  Total
663         202021  East Midlands   Boys  Age 12     Total  Total
664         202021  East Midlands   Boys  Age 13     Total  Total
665         202021  East Midlands   Boys  Age 14     Total  Total
...            ...            ...    ...     ...       ...    ...
72034       201718         London  Girls  Age 14     Total  Total
72035       201718         London  Girls  Age 15     Total  Total
72036       201718         London  Girls  Age 16     Total  Total
72037       201718         London  Girls  Age 17     Total  Total
72038       201718         London  Girls  Age 18     Total  Total

       number_of_pupils
661                  83
662                 141
663                 187
664                 197
665                 256
...                 ...
72034               146
72035               332
72036               149
72037               126
72038               106

[2940 rows x 7 columns]

In [12]:
regional_fsmONLY_data = regional_altprov_data.loc[regional_altprov_data['FSM'] == 'FSM eligible']
print(regional_fsmONLY_data)
print(len(regional_fsmONLY_data))
print(regional_fsmONLY_data.gender.unique())
# OK SAME ISSUE AS ABOVE

       time_period               region_name gender    age ethnicity  \
772         202021             East Midlands  Total  Total     Total
2760        202021                North West  Total  Total     Total
2882        202021                South East  Total  Total     Total
3004        202021                South West  Total  Total     Total
4725        202021             West Midlands  Total  Total     Total
4847        202021  Yorkshire and The Humber  Total  Total     Total
5460        202021           East of England  Total  Total     Total
5582        202021                    London  Total  Total     Total
5704        202021                North East  Total  Total     Total
10243       201920                    London  Total  Total     Total
22497       201920                South East  Total  Total     Total
22618       201920                South West  Total  Total     Total
22739       201920             West Midlands  Total  Total     Total
23301       201920             East Midlands  Total  Total     Total
24977       201920           East of England  Total  Total     Total
30330       201819                North West  Total  Total     Total
31027       201920                North East  Total  Total     Total
31148       201920                North West  Total  Total     Total
32077       201819             West Midlands  Total  Total     Total
32198       201819  Yorkshire and The Humber  Total  Total     Total
34643       201718                North West  Total  Total     Total
36337       201718             West Midlands  Total  Total     Total
42197       201819                South East  Total  Total     Total
42318       201819                South West  Total  Total     Total
42531       201819             East Midlands  Total  Total     Total
42652       201819           East of England  Total  Total     Total
45982       201920  Yorkshire and The Humber  Total  Total     Total
46401       201718                    London  Total  Total     Total
46522       201718                North East  Total  Total     Total
46968       201819                    London  Total  Total     Total
47089       201819                North East  Total  Total     Total
53475       201718  Yorkshire and The Humber  Total  Total     Total
56969       201718                South West  Total  Total     Total
65241       201718                South East  Total  Total     Total
71873       201718             East Midlands  Total  Total     Total
71994       201718           East of England  Total  Total     Total

                FSM  number_of_pupils
772    FSM eligible               700
2760   FSM eligible               929
2882   FSM eligible              1185
3004   FSM eligible               850
4725   FSM eligible               701
4847   FSM eligible               604
5460   FSM eligible               428
5582   FSM eligible               665
5704   FSM eligible               354
10243  FSM eligible               738
22497  FSM eligible              1045
22618  FSM eligible               661
22739  FSM eligible               465
23301  FSM eligible               610
24977  FSM eligible               362
30330  FSM eligible               823
31027  FSM eligible               293
31148  FSM eligible               828
32077  FSM eligible               372
32198  FSM eligible               382
34643  FSM eligible               598
36337  FSM eligible               232
42197  FSM eligible               964
42318  FSM eligible               453
42531  FSM eligible               454
42652  FSM eligible               315
45982  FSM eligible               520
46401  FSM eligible               617
46522  FSM eligible               127
46968  FSM eligible               542
47089  FSM eligible               227
53475  FSM eligible               288
56969  FSM eligible               408
65241  FSM eligible               731
71873  FSM eligible               423
71994  FSM eligible               208
36
['Total']

In [13]:
# Let's see how the gender data is formulatated
regional_girlsONLY_data = regional_altprov_data.loc[regional_altprov_data['gender'] == 'Girls']
print(regional_girlsONLY_data)
print(regional_girlsONLY_data.FSM.unique())
regional_boysONLY_data = regional_altprov_data.loc[regional_altprov_data['gender'] == 'Boys']
print(regional_boysONLY_data)
print(regional_boysONLY_data.FSM.unique())

       time_period    region_name gender     age ethnicity    FSM  \
686         202021  East Midlands  Girls  Age 10     Total  Total
687         202021  East Midlands  Girls  Age 11     Total  Total
688         202021  East Midlands  Girls  Age 12     Total  Total
689         202021  East Midlands  Girls  Age 13     Total  Total
690         202021  East Midlands  Girls  Age 14     Total  Total
...            ...            ...    ...     ...       ...    ...
72034       201718         London  Girls  Age 14     Total  Total
72035       201718         London  Girls  Age 15     Total  Total
72036       201718         London  Girls  Age 16     Total  Total
72037       201718         London  Girls  Age 17     Total  Total
72038       201718         London  Girls  Age 18     Total  Total

       number_of_pupils
686                  22
687                  32
688                  42
689                  56
690                  73
...                 ...
72034               146
72035               332
72036               149
72037               126
72038               106

[714 rows x 7 columns]
['Total']
       time_period    region_name gender     age ethnicity    FSM  \
661         202021  East Midlands   Boys  Age 10     Total  Total
662         202021  East Midlands   Boys  Age 11     Total  Total
663         202021  East Midlands   Boys  Age 12     Total  Total
664         202021  East Midlands   Boys  Age 13     Total  Total
665         202021  East Midlands   Boys  Age 14     Total  Total
...            ...            ...    ...     ...       ...    ...
72023       201718         London   Boys   Age 6     Total  Total
72024       201718         London   Boys   Age 7     Total  Total
72025       201718         London   Boys   Age 8     Total  Total
72026       201718         London   Boys   Age 9     Total  Total
72027       201718         London   Boys   Total     Total  Total

       number_of_pupils
661                  83
662                 141
663                 187
664                 197
665                 256
...                 ...
72023                62
72024               112
72025               114
72026               153
72027              3827

[728 rows x 7 columns]
['Total']

# Let's check out LOCAL AUTH LEVEL DATA

In [14]:
print(la_altprov_data)

       time_period      region_name    la_name gender  \
2           202021  East of England      Essex  Total
5           202021  East of England      Essex  Total
6           202021  East of England      Essex  Total
7           202021  East of England      Essex  Total
8           202021  East of England      Essex  Total
...            ...              ...        ...    ...
77710       201718       North East  Gateshead   Boys
77711       201718       North East  Gateshead   Boys
77712       201718       North East  Gateshead   Boys
77713       201718       North East  Gateshead   Boys
77714       201718       North East  Gateshead   Boys

                                        age ethnicity    FSM  number_of_pupils
2      Age 4 (lower - born April to August)     Total  Total                 1
5                                     Age 5     Total  Total                 3
6                                     Age 6     Total  Total                 3
7                                     Age 7     Total  Total                 6
8                                     Age 8     Total  Total                 8
...                                     ...       ...    ...               ...
77710                                Age 14     Total  Total                23
77711                                Age 15     Total  Total                23
77712                                Age 16     Total  Total                 9
77713                                Age 17     Total  Total                 8
77714                                Age 18     Total  Total                 7

[29786 rows x 8 columns]

In [15]:
la_fsmONLY_data = la_altprov_data.loc[la_altprov_data['FSM'] == 'FSM eligible']
print(la_fsmONLY_data)
print(len(la_fsmONLY_data))
print(la_fsmONLY_data.gender.unique())

       time_period               region_name                  la_name gender  \
1960        202021                North West               St. Helens  Total
1962        202021             West Midlands            Staffordshire  Total
1964        202021                North West                Stockport  Total
1966        202021                North East         Stockton-on-Tees  Total
1968        202021             West Midlands           Stoke-on-Trent  Total
...            ...                       ...                      ...    ...
76252       201718                South East            Milton Keynes  Total
76254       201718                North East      Newcastle upon Tyne  Total
76258       201718           East of England                  Norfolk  Total
76260       201718  Yorkshire and The Humber  North East Lincolnshire  Total
76262       201718  Yorkshire and The Humber       North Lincolnshire  Total

         age ethnicity           FSM  number_of_pupils
1960   Total     Total  FSM eligible                27
1962   Total     Total  FSM eligible               105
1964   Total     Total  FSM eligible                61
1966   Total     Total  FSM eligible                41
1968   Total     Total  FSM eligible               107
...      ...       ...           ...               ...
76252  Total     Total  FSM eligible                27
76254  Total     Total  FSM eligible                 9
76258  Total     Total  FSM eligible               109
76260  Total     Total  FSM eligible                 4
76262  Total     Total  FSM eligible                18

[464 rows x 8 columns]
464
['Total']

# OTHER DATASET BELOW (but I don't think we'll use it...)

In [17]:
pupils_data = pd.read_csv('spc_pupils_fsm_2021_160921.csv')
print(pupils_data)

       time_period time_identifier geographic_level country_code country_name  \
0           202021   Academic year  Local authority    E92000001      England
1           202021   Academic year  Local authority    E92000001      England
2           202021   Academic year  Local authority    E92000001      England
3           202021   Academic year  Local authority    E92000001      England
4           202021   Academic year  Local authority    E92000001      England
...            ...             ...              ...          ...          ...
35430       201516   Academic year  Local authority    E92000001      England
35431       201516   Academic year  Local authority    E92000001      England
35432       201516   Academic year  Local authority    E92000001      England
35433       201516   Academic year  Local authority    E92000001      England
35434       201516   Academic year  Local authority    E92000001      England

      region_name region_code  old_la_code    la_name  Phase-type_grouping  \
0          London   E12000007        203.0  Greenwich                Total
1          London   E12000007        203.0  Greenwich                Total
2          London   E12000007        203.0  Greenwich                Total
3          London   E12000007        204.0    Hackney  Pupil referral unit
4          London   E12000007        204.0    Hackney  Pupil referral unit
...           ...         ...          ...        ...                  ...
35430  South East   E12000008        872.0  Wokingham  Pupil referral unit
35431  South East   E12000008        872.0  Wokingham  Pupil referral unit
35432  South East   E12000008        872.0  Wokingham  Pupil referral unit
35433  South East   E12000008        872.0  Wokingham  Pupil referral unit
35434  South East   E12000008        872.0  Wokingham  Pupil referral unit

      new_la_code                                                FSM  \
0       E09000011  known to be eligible for free school meals (us...
1       E09000011  number of pupils (used for FSM in Performance ...
2       E09000011                                              Total
3       E09000012       FSM eligible pupils taking free school meals
4       E09000012     infants taken a free school meal on census day
...           ...                                                ...
35430   E06000041     infants taken a free school meal on census day
35431   E06000041         known to be eligible for free school meals
35432   E06000041  known to be eligible for free school meals (us...
35433   E06000041  number of pupils (used for FSM in Performance ...
35434   E06000041                                              Total

       headcount  percent_of_pupils
0           9879          24.637753
1          40097         100.000000
2          44682         100.000000
3             34          53.968254
4              0           0.000000
...          ...                ...
35430          0           0.000000
35431          6          37.500000
35432          6           0.000000
35433         16           0.000000
35434         16         100.000000

[35435 rows x 14 columns]

In [18]:
# Let's grab London data
london_pupil_data = pupils_data.loc[pupils_data['region_name'] == 'London']
print(london_pupil_data)

       time_period time_identifier geographic_level country_code country_name  \
0           202021   Academic year  Local authority    E92000001      England
1           202021   Academic year  Local authority    E92000001      England
2           202021   Academic year  Local authority    E92000001      England
3           202021   Academic year  Local authority    E92000001      England
4           202021   Academic year  Local authority    E92000001      England
...            ...             ...              ...          ...          ...
35413       201516   Academic year  Local authority    E92000001      England
35414       201516   Academic year  Local authority    E92000001      England
35415       201516   Academic year  Local authority    E92000001      England
35416       201516   Academic year  Local authority    E92000001      England
35417       201516   Academic year  Local authority    E92000001      England

      region_name region_code  old_la_code    la_name  Phase-type_grouping  \
0          London   E12000007        203.0  Greenwich                Total
1          London   E12000007        203.0  Greenwich                Total
2          London   E12000007        203.0  Greenwich                Total
3          London   E12000007        204.0    Hackney  Pupil referral unit
4          London   E12000007        204.0    Hackney  Pupil referral unit
...           ...         ...          ...        ...                  ...
35413      London   E12000007        313.0   Hounslow  Pupil referral unit
35414      London   E12000007        313.0   Hounslow  Pupil referral unit
35415      London   E12000007        313.0   Hounslow  Pupil referral unit
35416      London   E12000007        313.0   Hounslow  Pupil referral unit
35417      London   E12000007        313.0   Hounslow  Pupil referral unit

      new_la_code                                                FSM  \
0       E09000011  known to be eligible for free school meals (us...
1       E09000011  number of pupils (used for FSM in Performance ...
2       E09000011                                              Total
3       E09000012       FSM eligible pupils taking free school meals
4       E09000012     infants taken a free school meal on census day
...           ...                                                ...
35413   E09000018     infants taken a free school meal on census day
35414   E09000018         known to be eligible for free school meals
35415   E09000018  known to be eligible for free school meals (us...
35416   E09000018  number of pupils (used for FSM in Performance ...
35417   E09000018                                              Total

       headcount  percent_of_pupils
0           9879          24.637753
1          40097         100.000000
2          44682         100.000000
3             34          53.968254
4              0           0.000000
...          ...                ...
35413          2           1.754386
35414         37          32.456140
35415         37           0.000000
35416        113           0.000000
35417        114         100.000000

[7227 rows x 14 columns]

In [ ]:
#london_pupil_data.la_name.unique()

In [19]:
# Let's grab just Southwark data
southwark_pupils_data = london_pupil_data.loc[pupils_data['la_name'] == 'Southwark']
print(southwark_pupils_data)

       time_period time_identifier geographic_level country_code country_name  \
604         201920   Academic year  Local authority    E92000001      England
605         201920   Academic year  Local authority    E92000001      England
606         201920   Academic year  Local authority    E92000001      England
607         201920   Academic year  Local authority    E92000001      England
608         201920   Academic year  Local authority    E92000001      England
...            ...             ...              ...          ...          ...
34233       201516   Academic year  Local authority    E92000001      England
34234       201516   Academic year  Local authority    E92000001      England
34235       201516   Academic year  Local authority    E92000001      England
34236       201516   Academic year  Local authority    E92000001      England
34237       201516   Academic year  Local authority    E92000001      England

      region_name region_code  old_la_code    la_name  \
604        London   E12000007        210.0  Southwark
605        London   E12000007        210.0  Southwark
606        London   E12000007        210.0  Southwark
607        London   E12000007        210.0  Southwark
608        London   E12000007        210.0  Southwark
...           ...         ...          ...        ...
34233      London   E12000007        210.0  Southwark
34234      London   E12000007        210.0  Southwark
34235      London   E12000007        210.0  Southwark
34236      London   E12000007        210.0  Southwark
34237      London   E12000007        210.0  Southwark

               Phase-type_grouping new_la_code  \
604    State-funded special school   E09000028
605    State-funded special school   E09000028
606    State-funded special school   E09000028
607    State-funded special school   E09000028
608    State-funded special school   E09000028
...                            ...         ...
34233  State-funded special school   E09000028
34234  State-funded special school   E09000028
34235  State-funded special school   E09000028
34236  State-funded special school   E09000028
34237  State-funded special school   E09000028

                                                     FSM  headcount  \
604         FSM eligible pupils taking free school meals        304
605       infants taken a free school meal on census day         52
606           known to be eligible for free school meals        353
607    known to be eligible for free school meals (us...        257
608    number of pupils (used for FSM in Performance ...        573
...                                                  ...        ...
34233     infants taken a free school meal on census day         40
34234         known to be eligible for free school meals        240
34235  known to be eligible for free school meals (us...        174
34236  number of pupils (used for FSM in Performance ...        494
34237                                              Total        611

       percent_of_pupils
604            41.025641
605             7.017544
606            47.638327
607             0.000000
608             0.000000
...                  ...
34233           6.546645
34234          39.279869
34235           0.000000
34236           0.000000
34237         100.000000

[222 rows x 14 columns]

In [ ]:
# the years they have are from 2015-2020
#southwark_pupils_data.time_period.unique()

In [20]:
# Let's focus on the 2018-2019 school period pre-pandemic
southwark201819_pupils_data = southwark_pupils_data.loc[southwark_pupils_data['time_period'] == 201819]
print(southwark201819_pupils_data)

       time_period time_identifier geographic_level country_code country_name  \
10535       201819   Academic year  Local authority    E92000001      England
10536       201819   Academic year  Local authority    E92000001      England
10537       201819   Academic year  Local authority    E92000001      England
10538       201819   Academic year  Local authority    E92000001      England
10539       201819   Academic year  Local authority    E92000001      England
10540       201819   Academic year  Local authority    E92000001      England
12665       201819   Academic year  Local authority    E92000001      England
12666       201819   Academic year  Local authority    E92000001      England
12667       201819   Academic year  Local authority    E92000001      England
12668       201819   Academic year  Local authority    E92000001      England
12669       201819   Academic year  Local authority    E92000001      England
12670       201819   Academic year  Local authority    E92000001      England
12671       201819   Academic year  Local authority    E92000001      England
12672       201819   Academic year  Local authority    E92000001      England
12673       201819   Academic year  Local authority    E92000001      England
12674       201819   Academic year  Local authority    E92000001      England
12675       201819   Academic year  Local authority    E92000001      England
12676       201819   Academic year  Local authority    E92000001      England
12677       201819   Academic year  Local authority    E92000001      England
12678       201819   Academic year  Local authority    E92000001      England
12679       201819   Academic year  Local authority    E92000001      England
12680       201819   Academic year  Local authority    E92000001      England
12681       201819   Academic year  Local authority    E92000001      England
12682       201819   Academic year  Local authority    E92000001      England
14656       201819   Academic year  Local authority    E92000001      England
14657       201819   Academic year  Local authority    E92000001      England
14658       201819   Academic year  Local authority    E92000001      England
14659       201819   Academic year  Local authority    E92000001      England
14660       201819   Academic year  Local authority    E92000001      England
14661       201819   Academic year  Local authority    E92000001      England
14662       201819   Academic year  Local authority    E92000001      England
14663       201819   Academic year  Local authority    E92000001      England
14664       201819   Academic year  Local authority    E92000001      England
14665       201819   Academic year  Local authority    E92000001      England
14666       201819   Academic year  Local authority    E92000001      England
14667       201819   Academic year  Local authority    E92000001      England

      region_name region_code  old_la_code    la_name  \
10535      London   E12000007        210.0  Southwark
10536      London   E12000007        210.0  Southwark
10537      London   E12000007        210.0  Southwark
10538      London   E12000007        210.0  Southwark
10539      London   E12000007        210.0  Southwark
10540      London   E12000007        210.0  Southwark
12665      London   E12000007        210.0  Southwark
12666      London   E12000007        210.0  Southwark
12667      London   E12000007        210.0  Southwark
12668      London   E12000007        210.0  Southwark
12669      London   E12000007        210.0  Southwark
12670      London   E12000007        210.0  Southwark
12671      London   E12000007        210.0  Southwark
12672      London   E12000007        210.0  Southwark
12673      London   E12000007        210.0  Southwark
12674      London   E12000007        210.0  Southwark
12675      London   E12000007        210.0  Southwark
12676      London   E12000007        210.0  Southwark
12677      London   E12000007        210.0  Southwark
12678      London   E12000007        210.0  Southwark
12679      London   E12000007        210.0  Southwark
12680      London   E12000007        210.0  Southwark
12681      London   E12000007        210.0  Southwark
12682      London   E12000007        210.0  Southwark
14656      London   E12000007        210.0  Southwark
14657      London   E12000007        210.0  Southwark
14658      London   E12000007        210.0  Southwark
14659      London   E12000007        210.0  Southwark
14660      London   E12000007        210.0  Southwark
14661      London   E12000007        210.0  Southwark
14662      London   E12000007        210.0  Southwark
14663      London   E12000007        210.0  Southwark
14664      London   E12000007        210.0  Southwark
14665      London   E12000007        210.0  Southwark
14666      London   E12000007        210.0  Southwark
14667      London   E12000007        210.0  Southwark

               Phase-type_grouping new_la_code  \
10535       State-funded secondary   E09000028
10536       State-funded secondary   E09000028
10537       State-funded secondary   E09000028
10538       State-funded secondary   E09000028
10539       State-funded secondary   E09000028
10540       State-funded secondary   E09000028
12665          Pupil referral unit   E09000028
12666          Pupil referral unit   E09000028
12667          Pupil referral unit   E09000028
12668          Pupil referral unit   E09000028
12669          Pupil referral unit   E09000028
12670          Pupil referral unit   E09000028
12671         State-funded nursery   E09000028
12672         State-funded nursery   E09000028
12673         State-funded nursery   E09000028
12674         State-funded nursery   E09000028
12675         State-funded nursery   E09000028
12676         State-funded nursery   E09000028
12677         State-funded primary   E09000028
12678         State-funded primary   E09000028
12679         State-funded primary   E09000028
12680         State-funded primary   E09000028
12681         State-funded primary   E09000028
12682         State-funded primary   E09000028
14656  State-funded special school   E09000028
14657  State-funded special school   E09000028
14658  State-funded special school   E09000028
14659  State-funded special school   E09000028
14660  State-funded special school   E09000028
14661  State-funded special school   E09000028
14662                        Total   E09000028
14663                        Total   E09000028
14664                        Total   E09000028
14665                        Total   E09000028
14666                        Total   E09000028
14667                        Total   E09000028

                                                     FSM  headcount  \
10535       FSM eligible pupils taking free school meals       3921
10536     infants taken a free school meal on census day        158
10537         known to be eligible for free school meals       4443
10538  known to be eligible for free school meals (us...       4024
10539  number of pupils (used for FSM in Performance ...      14781
10540                                              Total      17171
12665       FSM eligible pupils taking free school meals          0
12666     infants taken a free school meal on census day          0
12667         known to be eligible for free school meals         38
12668  known to be eligible for free school meals (us...         38
12669  number of pupils (used for FSM in Performance ...         80
12670                                              Total         81
12671       FSM eligible pupils taking free school meals         61
12672     infants taken a free school meal on census day          1
12673         known to be eligible for free school meals         97
12674  known to be eligible for free school meals (us...         11
12675  number of pupils (used for FSM in Performance ...        179
12676                                              Total        743
12677       FSM eligible pupils taking free school meals       5118
12678     infants taken a free school meal on census day       9216
12679         known to be eligible for free school meals       5732
12680  known to be eligible for free school meals (us...       5565
12681  number of pupils (used for FSM in Performance ...      23865
12682                                              Total      24901
14656       FSM eligible pupils taking free school meals        268
14657     infants taken a free school meal on census day         38
14658         known to be eligible for free school meals        332
14659  known to be eligible for free school meals (us...        243
14660  number of pupils (used for FSM in Performance ...        550
14661                                              Total        710
14662       FSM eligible pupils taking free school meals       9368
14663     infants taken a free school meal on census day       9413
14664         known to be eligible for free school meals      10642
14665  known to be eligible for free school meals (us...       9881
14666  number of pupils (used for FSM in Performance ...      39455
14667                                              Total      43606

       percent_of_pupils
10535          22.835013
10536           0.920156
10537          25.875022
10538           0.000000
10539           0.000000
10540         100.000000
12665           0.000000
12666           0.000000
12667          46.913580
12668           0.000000
12669           0.000000
12670         100.000000
12671           8.209960
12672           0.134590
12673          13.055182
12674           0.000000
12675           0.000000
12676         100.000000
12677          20.553391
12678          37.010562
12679          23.019156
12680           0.000000
12681           0.000000
12682         100.000000
14656          37.746479
14657           5.352113
14658          46.760563
14659           0.000000
14660           0.000000
14661         100.000000
14662          21.483282
14663          21.586479
14664          24.404898
14665           0.000000
14666           0.000000
14667         100.000000

In [ ]:
#print(len(southwark201819_pupils_data))
# All the columns from time_period to la_name all have the same value
#print(southwark201819_pupils_data['Phase-type_grouping'].unique())

In [21]:
# Let's focus on State-funded secondary schools (might need to add Total back in? tbd)
southwark2018_sfss_pupils_data = southwark201819_pupils_data.loc[southwark201819_pupils_data['Phase-type_grouping']=='State-funded secondary']
print(southwark2018_sfss_pupils_data.FSM.unique())
# I think it's the 'known to be eligible for fsm (used for FSM in performance tables) row I care about'
# ^the percent_of_pupils fsm eligible matches given the headcount and the total headcount

['FSM eligible pupils taking free school meals'
 'infants taken a free school meal on census day'
 'known to be eligible for free school meals'
 'known to be eligible for free school meals (used for FSM in Performance Tables)'
 'number of pupils (used for FSM in Performance Tables)' 'Total']

In [22]:
# Ok SO for the pupils_data bit, I now have 2018-2019 data on state-funded secondary schools from Southwark
# WHOLE dataset --> London only --> Southwark only --> 201819 only --> State-funded secondary schools only
print(southwark2018_sfss_pupils_data)

       time_period time_identifier geographic_level country_code country_name  \
10535       201819   Academic year  Local authority    E92000001      England
10536       201819   Academic year  Local authority    E92000001      England
10537       201819   Academic year  Local authority    E92000001      England
10538       201819   Academic year  Local authority    E92000001      England
10539       201819   Academic year  Local authority    E92000001      England
10540       201819   Academic year  Local authority    E92000001      England

      region_name region_code  old_la_code    la_name     Phase-type_grouping  \
10535      London   E12000007        210.0  Southwark  State-funded secondary
10536      London   E12000007        210.0  Southwark  State-funded secondary
10537      London   E12000007        210.0  Southwark  State-funded secondary
10538      London   E12000007        210.0  Southwark  State-funded secondary
10539      London   E12000007        210.0  Southwark  State-funded secondary
10540      London   E12000007        210.0  Southwark  State-funded secondary

      new_la_code                                                FSM  \
10535   E09000028       FSM eligible pupils taking free school meals
10536   E09000028     infants taken a free school meal on census day
10537   E09000028         known to be eligible for free school meals
10538   E09000028  known to be eligible for free school meals (us...
10539   E09000028  number of pupils (used for FSM in Performance ...
10540   E09000028                                              Total

       headcount  percent_of_pupils
10535       3921          22.835013
10536        158           0.920156
10537       4443          25.875022
10538       4024           0.000000
10539      14781           0.000000
10540      17171         100.000000